.leetcode {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: radial-gradient(#cacac9,rgb(138, 138, 138));
    padding: 200px 0 0 0;
    margin-top: -120px;
    overflow: hidden;
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center; 
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.404);
    
    
}

.loading_circle {
    border: 4px dotted rgb(99, 99, 99);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(99, 99, 99);
    animation: loading 5s infinite;
}

.loading_text {
    font-weight: 300;
}

.loading_error {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center; 
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.404);
    text-align: center;
}

.loading_error p {
    font-weight: 300;
    padding: 5%;
}

@keyframes loading {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
}
.leetcode_content {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
    max-width: 1000px;
    width: 100%;
    height: 560px;
}

.leetcode_header {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.404);
    z-index: 1;
}

.leetcode_header h3 {
    font-weight: 400;
    color: rgb(35, 35, 35);
}

/*--- leetcode Body ---*/

.leetcode_body {
    height: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 5% 0;
    gap: 20px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.404);
}

.leetcode_user_info {
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.312);
    border-radius: 10px;
    padding: 20px 0;
    width: 90%;
}

/*--- User Status ---*/

.leetcode_user_status p {
    font-weight: 300;
}

/*--- Progress Total Solved ---*/

.total_progress_bar {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.total_progress_bar::before {
    position: absolute;
    content: "";
    width: 120px;
    height: 120px;
    border-radius: 50%;
    
}

.total_progress_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
}

/*--- Progress Bar Solved Graph---*/

.solved_graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.312);
    border-radius: 10px;
    padding: 20px 0;
    width: 90%;
}

.leet_code_solved {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.graph_text {
    display: flex;
    gap: 10px;
    align-items: center;
}

.graph_text p {
    font-size: 14px;
    font-weight: 300;
}

.progress_bar {
    max-width: 100%;
    width: 100%;
    height: 4px;
    position: relative;
    border-radius: 10px
}

.easy_progress_bar {
    background-color: rgba(0, 128, 0, 0.277);
}

.easy_current_progress {
    background-color: green;
}

.medium_progress_bar {
    background-color: rgba(244, 226, 27, 0.403);
}

.hard_progress_bar {
    background-color: rgba(222, 44, 44, 0.37)
}

.current_progress {
    position: absolute;
    height: 4px;
    top: 0;
    left: 0;
    border-radius: 10px
}
