@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* light theme */


.total_progress_bar::before {
  background-color:white ;
}

.project_img {
  border: none;
}

.theme p {
  color: #313638;
}

.theme h4 {
  color:#313638;
}
.theme h3 {
  color:#313638;
}
.theme_two h3 {
  color:#313638;
}
.theme {
  background-color: #E8E9EB;
}
.theme_two {
  background-color: white;
}
.theme a {
  color: rgb(12, 38, 134);
}


/* dakr theme */

.total_progress_bar.dark::before {
  background-color:#919191 ;
}

.project_img.dark {
  border: 4px solid white;
}

.theme_dark p {
  color: white;
}
.theme_dark h4 {
  color: white;
}
.theme_dark h3 {
  color: white;
}
.theme_two_dark h3 {
  color: white;
}
.theme_dark {
  background-color: #313638;
}
.theme_two_dark {
  background-color: #919191;
}
.theme_dark a {
  color: white;
}