.home {
    margin-top: 90.4px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: radial-gradient(#cacac9,rgb(138, 138, 138));
    overflow: hidden;
}

.pedromoore_about {
    max-width: 1300px;
    width: 100%;
    display: flex;
    padding: 80px 0 0 0;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.pedromoore_about p {
    font-size: 13px;
}

.pedromoore_about h4 {
    color: #EF6461;
}

 /* block left -----------------------*/

.block_left {
    width: 20%;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.481);
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.pedromoore_img_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.pedromoore_img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.pedromoore_img img {
    width: 100%;
    height: 100%;
}

.nactionality {
    display: flex;
    align-items: center;
    gap: 5px;
}

.pedromoore_skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 169.46px;
}

.pedromoore_skills ul {
    list-style: none;
}

 /* block right -----------------------*/

.block_right {
    width: 60%;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.481);
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block_right h4 {
    margin-bottom: 10px;
}

.block_right p {
    margin-bottom: 8px;
}

.pedromoore_buttons {
    display: flex;
    justify-content: space-evenly;
}

.pedromoore_buttons button {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: all .5s ease;
}

.about_button {
    border: 3px solid #EF6461;
    color: #EF6461;
    background-color: transparent;
    
}

.about_button:hover {
    border: 3px solid #EF6461;
    background-color: #EF6461;
    color: white;
}

.download_button {
    background-color:#E4B363 ;
    color: white;
    border: 3px solid transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.214);
}

.download_button:hover {
    background-color: transparent ;
    border: 3px solid #E4B363 ;
    color: #E4B363;
    box-shadow: none;
}


/* responsivity -----------------------*/

@media only screen and (max-width: 980px) {

    .pedromoore_about{
        padding: 5%;
    }

    .block_left {
        flex:1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-basis: 50%;
    }

    .pedromoore_img_info {
        display: flex;
        flex-direction: column;
        
    }
    .block_right {
        flex:1;
        flex-basis: 50%;
        
    }
}

